---
import Layout from "../layouts/Layout.astro";
import Imgcard from "../components/Imgcard.astro";
import Amercias from "../assets/plazas/Americas.png";
import Outlet from "../assets/plazas/Outlet.jpg";
import Isla from "../assets/plazas/Isla.jpg";
import Forum from "../assets/plazas/Forum.jpg";
---

<Layout title="Plazas y espacios públicos">
    <h1 class="mt-3 text-4xl font-semibold text-center text-gray-900">
        Plazas y espacios públicos
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <Imgcard
            img={Amercias.src}
            title="Plaza las Americas"
            description="Inaugurada en 2005, es el centro comercial más grande de Cancún.Ahora incluye las torres residenciales Torres de las Américas encima de una segunda zona comercial Malecón Américas. El centro comercial cuenta con tiendas departamentales, tiendas de ropa, restaurantes, cines, entre otros servicios"
            href="https://www.google.com/maps/place/Plaza+Las+Am%C3%A9ricas/@21.1467939,-86.8254685,17z/data=!3m1!4b1!4m6!3m5!1s0x8f4c2bfe37e860b3:0x542924d7054fb104!8m2!3d21.1467939!4d-86.8228936!16s%2Fg%2F1tg6lm03?entry=ttu&g_ep=EgoyMDI1MDEyOC4wIKXMDSoASAFQAw%3D%3D"
            btnText="Cómo llegar"
            loading="eager"
        />
        <Imgcard
            img={Outlet.src}
            title="Plaza Outlet"
            description="Antes de que la ciudad se conociera como Cancún se llamaba Ekab, que significa Tierra negra. Las Plazas Outlet ofrece varias tiendas de marcas reconocidas con atractivos descuentos, lo que lo hace uno de los mejores centros comerciales en Cancún para conseguir buenos precios."
            href="https://www.google.com/maps/place/Las+Plazas+Outlet+Canc%C3%BAn/@21.1517887,-86.8509921,17z/data=!4m6!3m5!1s0x8f4c2b47d3115e8f:0xab7984da5fe5fbbb!8m2!3d21.1517887!4d-86.8484192!16s%2Fg%2F1hdyydht6?entry=ttu&g_ep=EgoyMDI1MDEyOC4wIKXMDSoASAFQAw%3D%3D"
            btnText="Cómo llegar"
            loading="eager"
        />
        <Imgcard
            img={Isla.src}
            title="Plaza la Isla"
            description="Plaza La Isla es un centro comercial al aire libre ubicado en la Zona Hotelera de Cancún. Es uno de los centros comerciales más populares de la ciudad, con una amplia variedad de tiendas, restaurantes, bares y entretenimiento. También cuenta con un acuario, un museo de cera y un teatro interactivo."
            href="https://www.google.com/maps/place/La+Isla+Canc%C3%BAn/@21.110539,-86.7653226,19z/data=!3m1!4b1!4m6!3m5!1s0x8f4c285f7409cf51:0x344e080d3e0664b4!8m2!3d21.110539!4d-86.7646789!16s%2Fg%2F11b6_0sqyw?entry=ttu&g_ep=EgoyMDI1MDEyOC4wIKXMDSoASAFQAw%3D%3D"
            btnText="Cómo llegar"
            loading="eager"
        />
        <Imgcard
            img={Forum.src}
            title="Plaza Forum"
            description="Plaza Forum es un centro comercial ubicado en la Zona Hotelera de Cancún. Es un lugar popular para ir de compras, cenar y disfrutar de la vida nocturna. Cuenta con una amplia variedad de tiendas, restaurantes, bares y discotecas, así como un cine y un teatro."
            href="https://www.google.com/maps?sca_esv=23a6d0305129b91a&biw=1358&bih=654&output=search&q=Forum+By+The+Sea&source=lnms&fbs=ABzOT_BnMAgCWdhr5zilP5f1cnRvK9uZj3HA_MTJAA6lXR8yQOHuLLuvP9rOMou0fHm-Hy8YdcIAeQoMfyv0KkoFTBhx74JBt3nZ4iCzTzb8T3w4jCCPPH_V0vyyenao3-09zCNGZhT75o_FmlR208Ad4Lcx4yENXSQWR6ofUJjoCU-SSvDTXS4F1wp9BXXVhqF-2TaceikX7ZJRrYkUYrrP6c-UZeRirQ&entry=mc&ved=1t:200715&ictx=111"
            btnText="Cómo llegar"
            loading="eager"
        />
    </div>
</Layout>
