---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mapa">
    <section class="flex items-center justify-center h-screen bg-gray-100">
        <h2 class="text-3xl font-bold text-gray-600">Proximamente...</h2>
    </section>
</Layout>
