---
import Shield from "./svg/Shield.astro";
import Info from "./svg/Info.astro";
import MapPin from "./svg/MapPin.astro";

const features = [
  {
    svg: Shield,
    class: "text-indigo-600 ",
    title: "Zonas Seguras",
    description: "Encuentra las áreas más seguras para tu tranquilidad.",
  },
  {
    svg: Info,
    title: "Información Actualizada",
    description: "Datos confiables para planificar tus actividades.",
  },
  {
    svg: MapPin,
    title: "Explora Fácilmente",
    description: "Interfaz amigable y mapas interactivos.",
  },
];
---

<section class="pt-16 text-center p-8">
  <h2
    class="text-4xl font-semibold leading-tight text-indigo-950 mb-4 text-center tracking-tighter text-pretty pointer-events-none">
    ¿Por qué elegir Cancún SafePlace?
  </h2>
  <div
    class="grid md:grid-cols-3 gap-8 lg:grid-cols-3 max-w-7xl container mx-auto px-14 items-center">
    {
      features.map(({svg: Svg, title, description}) => (
        <div class="bg-white flex flex-col shadow-md rounded-lg p-4 items-center justify-center hover:scale-105 transition-transform duration-300">
          <div class="size-16">
            <Svg />
          </div>
          <h3 class="font-semibold text-lg my-2 leading-tight text-indigo-950 mb-2 text-center tracking-tighter text-pretty pointer-events-none">
            {title}
          </h3>
          <p class="text-gray-600 mt-auto text-md md:block leading-tight tracking-tighter text-pretty pointer-events-none">
            {description}
          </p>
        </div>
      ))
    }
  </div>
</section>
