---
import Image from "astro/components/Image.astro";
import CancunBackG from "../../src/assets/CancunBackG.jpg";
---

<header class="relative text-white bg-cover bg-center">
  <Image
    src={CancunBackG}
    alt="Atardecer en Cancún"
    width="1280"
    height="720"
    loading="lazy"
    class="absolute inset-0 h-full w-full object-cover z-0 blur-sm"
  />
  <div
    class="absolute inset-0 bg-gradient-to-r from-blue-900 to-green-500 opacity-50 z-0"
  >
  </div>
  <nav
    class="relative z-20 container mx-auto flex items-center justify-between py-4 px-6"
  >
    <div class="text-2xl font-bold">
      <a href="/">Cancún SafePlace</a>
    </div>
    <button
      id="menu-button"
      class="md:hidden text-white focus:outline-none focus:bg-green-500 focus:rounded-md"
      aria-label="Abrir menú de navegación"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
    {/* Menú de navegación */}
    <div
      id="menu"
      class="absolute md:static top-16 right-6 md:flex gap-7 bg-slate-400 md:bg-transparent rounded-lg shadow-lg md:shadow-none p-4 md:p-0 transition-all duration-300 hidden"
    >
      <a href="zonas" class="block md:inline hover:text-yellow-300">Zonas</a>
      <a href="mapa" class="block md:inline hover:text-yellow-300">Mapa</a>
      <a href="contacto" class="block md:inline hover:text-yellow-300">Contáctanos</a>
    </div>
  </nav>
  <div class="relative container mx-auto text-center py-16 px-6">
    <h1 class="text-4xl md:text-6xl font-extrabold mb-4">
      Descubre las Zonas Más Seguras
    </h1>
    <p class="text-lg md:text-xl mb-8">
      Información confiable para tu seguridad y tranquilidad en Cancún.
    </p>

  </div>
</header>

<script>
  // Lógica para manejar la apertura y cierre del menú
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menu-button");
    const menu = document.getElementById("menu");

    if (menuButton && menu) {
      menuButton.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    }
  });
</script>
